.bg {
    background-image: url('mens.jpg');
    background-size: cover;
    width: 1519px;
    height: 721px;
}
.navbar-light .navbar-brand {
    color: gold;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar-light .navbar-brand:hover {
    color: gold;
}
.navbar-nav .nav-item .nav-link {
    color: snow;
    font-family: inherit;
}
.navbar-nav .nav-item .nav-link:hover {
    color: gold;
}
.title h1 {
    position: absolute;
    color: gold;
    letter-spacing: 2px;
    top: 30%;
    left: 50%;
    transform: translate(-50%,300%);
    text-transform: uppercase;
}
.title p {
    position: absolute;
    color: gold;
    top: -30%;
    left: 50%;
    transform: translate(-51%,810%);
    font-size: 50px;
}
.navbar-nav .nav-item .nav-link button:hover{
    background-color: gold;
    color: black;
}
.page-section img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.footer {
    background-image: url(footer.jpg);
}
.footer span {
    color: snow;
}
.footer a {
    color: snow;
}
.goTop {
    position: fixed;
    width: 50px;
    height: 50px;
    background: gold;
    bottom: 40px;
    right: 50px;
    color: snow;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    box-shadow: 0 5px 15px -5px #00000070;
}
.goTop:hover {
    background: gold;
    color: snow;
}
.text-muted {
    text-indent: 30px;
}
h6 {
    font-style: italic;
    color: rgb(169,169,169);
}